SECRET_KEY=somesecretkey
DEBUG=1
ALLOWED_HOSTS=localhost 127.0.0.1 backend
SQL_ENGINE=django.db.backends.postgresql
POSTGRES_DB=cbis
POSTGRES_USER=cbis_pg
POSTGRES_PASSWORD=cbis_password
SQL_HOST=db
SQL_PORT=5432
CSRF_TRUSTED_ORIGINS=http://localhost:8080 http://127.0.0.1:8080 http://localhost:8000 http://127.0.0.1:8000