.login-sider {
    background-color: #7952CC !important;
}

.login-layout {
    background-color: #ffffff;
    text-align: center;
    margin: auto
}


.login-logo {
    margin: auto;
    height:100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centering y-axis */
    align-items :center;
    color: white;
    font-size: 3em;
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.login-logo-icon {
    height:100%;
    width:100%;
}

.login-form-container{
    max-width: 400px;
    width: 90%;
    margin: auto;
}

.login-form-logo-container {
    height:80px;
}


.login-form-logo {
    height:100%;
}


.login-form-welcome {
    font-size: 2em;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    margin:10px;
}


.login-form-message {
    font-size: 1.2em;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    margin-bottom:20px;
    color: rgb(102, 106, 114)
}



.login-form-input {
    height:40px;
}


.login-form-button {
    background-color: #ff685d;
    border-color: #ff685d !important;
    border-radius: 6px;
    height:40px;
    width: 100%;
}

.login-form-button:hover {
    background-color: #ff685d;
    border-color: #1890ff !important;
}