@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');


.logo {
	font-family: "Baloo Bhaijaan 2", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	color: #7952CC
}

.logo-white {
	font-family: "Baloo Bhaijaan 2", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	color: white;
}